  <nav class="navbar navbar-default">
  <div class="col-xl-6 col-lg-8 col-md-6 col-sm-12-col-12">
      <div class=" px-3 nav-header header headerText">
          Sukun.in
      </div>
  </div>
<div class="col-xl-6 col-lg-8 col-md-6 col-sm-12-col-12">
    <form class="form-login">
      <div class="form-selection row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12-col-12">
            <div class="px-2 loginBody">
                <ul class="list-unstyled row">
                  <li class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-12 ">
                    <label for="">User Name </label>
                    <input type="text" placeholder="Enter User Name">
                  </li> 
                  <li class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 ">
                      <label for="">Password</label>
                      <input type="text" placeholder="Enter Password">
                    </li>
                  
                    <li class="col-xl-1 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <input type="submit" class="btn btn-default">
                      </li>
                    
               </ul>
                
            </div>
            
          
          </div>
      </div>
      
    </form>
</div>





</nav>